@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Noto+Sans+KR:wght@300&display=swap");
.B1Q2 {
  font-family: "paybooc-Light", sans-serif;
  background: url("../img/intro.jpg");
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Content2 {
  padding: 1rem;
  text-align: center;
  margin: 3rem;
  height: 72vh;
  width: 70vw;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 2.5vh;
  font-weight: 700;
}
.cam {
  width: 30vw;
  height: 45vh;
  margin-left: 10vw;
  margin-right: 5vw;
  float: left;
}
.cam3 {
  width: 17rem;
  height: 17rem;
  margin-left: 24rem;
  margin-right: 9rem;
}
.ex {
  margin-top: 5vh;
  width: 18vw;
  height: 35vh;
  float: left;
}
.ex_img {
  width: 18vw;
  height: 35vh;
}
.count {
  position: absolute;
  left: 38%;
  top: 75%;

  padding-top: 2vh;
}
.count1 {
  position: absolute;
  left: 34%;
  top: 75%;

  padding-top: 2vh;
}
.state {
  clear: both;
  padding-top: 1rem;
  text-align: center;
}
.cam5 {
  display: inline-block;
  margin-left: 10vw;
  width: 35vw;
  height: 40vh;
}
.camOut {
  text-align: center;
}
.state {
  clear: both;
  padding-top: 2rem;
  text-align: center;
}
