@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
.MyPage {
  font-family: "paybooc-Light", sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.header {
  margin-top: 3rem;
  clear: both;
  height: 5rem;

  margin-bottom: 3vh;
}
.load {
  font-size: 1.2vw;
}

.User_info {
  height: 25vh;
  float: left;
  margin-left: 3rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.user_img2 {
  width: 8vw;
  float: left;
}
.user_id2 {
  font-size: 2.5vw;
  margin-left: 1.7rem;
  margin-top: 1.7rem;
  margin-bottom: 0;
  font-weight: 600;
  float: left;
}
.user_ch {
  width: 30vw;
  float: right;
  margin-right: 1.5vw;
}
.user_info {
  float: left;
}
.BookSave {
  height: 28vh;
}
.user_email {
  clear: both;
  float: left;
  font-size: 2.5vw;
  margin-left: 1.7rem;
  margin-top: 0.5rem;
  font-weight: 600;
}
.header3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 1rem;
  height: 5rem;
  font-size: 2.5rem;
}
.edit {
  margin-top: 2.4rem;
  margin-left: 1rem;
  bottom: 3rem;
  border: none;
  background-color: #0e5079;
  color: #ffffff;
  padding: 0.6rem 0.5rem;
  width: 5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  float: left;
}
.logout {
  color: rgb(133, 132, 132);
  font-size: 1.5rem;

  float: right;
  font-weight: 500;
  cursor: pointer;
}
.withdraw {
  float: right;
  margin-left: 1rem;
  color: rgb(133, 132, 132);

  font-size: 1.5rem;

  font-weight: 500;
  cursor: pointer;
}
.goMain {
  margin-left: 1rem;
  bottom: 3rem;
  border: none;
  background-color: #0e5079;
  color: #ffffff;
  padding: 0.7rem 0.7rem;
  width: 10vw;
  border-radius: 1rem;
  font-size: 2vw;
  margin-left: 30vw;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  float: right;
}
